<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="/fragments/head :: header"></div>

</head>
<body>


<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/navbar :: navbar"></div>
    <div class="row">Test</div>
    <div class="container d-flex justify-content-center  " >


        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="product : ${products}">
                    <td >


                    <!--Card-->
                    <div class="card card-cascade card-ecommerce narrower  col-xl-4" >

                        <!--Card image-->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" th:src="@{/images/avatar-1.jpg}"
                                 alt="">
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-body card-body-cascade text-center">
                            <!--Category & Title-->
                            <h4 class="card-title"><strong><a th:href="@{/product/products}"  th:text="${product.name}"></a></strong></h4>



                            <!--Card footer-->
                            <div >
                                <label class="float-left"th:text="${product.categoryDTO.name}"></label>

                                <label class="float-right" th:text="${product.price}+ ' $' "></label>

                            </div>

                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                    </td>
                </tr>

                </tbody>
            </table>
        </div>







    </div>


    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>
